body { font-family: 'Hanken Grotesk', sans-serif;
font-weight: 500;}

.parent {
    width: 50%;
    height: 300px;
    margin: auto;
    display: flex;
    margin-top: 150px;
    text-align: center;
    border-radius: 10%;
    box-shadow: 5px 10px 40px hsl(241, 100%, 89%);
    
}
.child1 {
    width: 50%;
    height: 300px;
    border-radius: 10%;
    color: white;
   
    background: linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%));
}
.child2 {
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
    background-color: white;
    height: 300px;
   padding-left: 2px;
   width: 50%;;
}

.circle {border-radius: 50%; 
width: 110px;
height: 110px;
margin: auto;
font-size: 10px;
background: linear-gradient(hsla(256, 72%, 46%, 1),hsla(229, 74%, 42%,0));
}

.btn { 
    background-color: hsl(224, 30%, 27%);
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    border-radius: 20px;
    padding: 10px 90px 10px 90px;
    font-weight: 700;
    font-size: 12px;
}
.btn:active {background: linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%));}